.mySwiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}