.mySwiper {  
  width: 100%;
  height: 100vh; /* 80% of viewport height */
  margin-left: auto;
  margin-right: auto;  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
